@import "tailwindcss";

body {
  background-color: #0a0a0a;
  color: #f5f5f5;
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #171717;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f97316;
}
.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #f97316, #0ea5e9);
}

/* Background Animation */
@keyframes slow-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.animate-slow-zoom {
  animation: slow-zoom 30s infinite ease-in-out;
  transform-origin: center center;
}
